{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block main_content %}

<section class="section-1">
  <img class="background" src="{% static 'images/backgrounds/alessio-soggetti-IuSemNxGS88-unsplash.jpg' %}" alt="">
  <div class="container">
      <div class="top">
          <a href="#" class="d-block logo">
              <img src="{% static 'images/lexx_logo.png' %}" alt="">
          </a>
          <div class="right">
              <div class="application-button d-none d-lg-flex">
                  <a href="#section-8" class="btn btn-primary">{% trans "Оставить заявку" %}</a>
              </div>
              <div class="language">
                  <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% get_current_language as CURRENT_LANGUAGE %}
                        {% get_available_languages as AVAILABLE_LANGUAGES %}
                        {% comment %} {% get_language_info_list for AVAILABLE_LANGUAGES as languages %} {% endcomment %}
                        {{ CURRENT_LANGUAGE }}
                      </button>
                      <ul class="dropdown-menu">
                        {% for lang_code, lang_name in AVAILABLE_LANGUAGES %}
                          <li><a class="dropdown-item" href="/{{ lang_code }}/">{{ lang_code }}</a></li>
                        {% endfor %}
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="title">
          <h1>{% trans 'С НАМИ ТВОЁ БУДУЩЕЕ' %}</h1>
          <p>{% trans "НЕ УПУСТИ СВОЙ ШАНС!" %}</p>
      </div>
      <div class="content d-flex d-lg-none">
          <div class="application-button">
              <a href="#section-8" class="btn btn-primary">{% trans "Оставить заявку" %}</a>
          </div>
      </div>
  </div>
</section>
<section class="section-2">
  <div class="wrapper d-flex flex-column flex-sm-row">
      <div class="left">
          <div class="content">
              <div class="logo">
                  <img src="{% static 'images/lexx_logo.png' %}" alt="">
              </div>
              <p>
                  {% trans "LEXX International – это международная компания с офисами в Ташкенте и Киеве." %}
              </p>
              <p>
                  {% trans 'LEXX International – это профессионалы с более 20 летним стажем работы.' %}
              </p>
              <p>
                  {% trans "И, конечно же, LEXX International – это твоя возможность стать успешным трейдером." %}
              </p>
          </div>
      </div>
      <div class="right">
          <img class="background" src="{% static 'images/backgrounds/yang-wewe-JjrP8j-v_Jg-unsplash.jpg' %}" alt="">
          <div class="content">
              <div class="logo">
                  <img class="d-flex d-sm-none" src="{% static 'images/lexx_logo.png' %}" alt="">
              </div>
              <p>
                  {% trans 'Мы обучили более 1500 учеников и трудоустроили их.' %}
              </p>
              <p>
                  {% trans "Хочешь тоже стать частью LEXX? Тогда не медли и оставляй заявку! " %}
              </p>
              <div class="application-button">
                  <a href="#section-8" class="btn btn-primary">{% trans 'Оставить заявку' %}</a>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="section-3">
  <img class="background" src="{% static 'images/backgrounds/marek-piwnicki-bCEKJDoh57w-unsplash.jpg' %}" alt="">
  <div class="container">
      <div class="top">
          <a href="#" class="d-block logo">
              <img src="{% static 'images/lexx_logo.png' %}" alt="">
          </a>
      </div>
      <div class="title">
        {% blocktrans %}
        <h2>Наши ценности - </h2>
        <div class="subtitle">
            <p>это не просто слова.</p>
            <p>Это фундамент, на котором строится наш успех.</p>
        </div>  
        {% endblocktrans %}
      </div>
      <div class="content">
          <div class="row">
              <div class="col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values1.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans "Профессионализм" %}</h4>
                      <p>{% trans 'Мы не останавливаемся на достигнутом и всегда ищем пути сделать нашу работу еще более качественной.' %}</p>
                  </div>
              </div>
              <div class="col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values2.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans "Ответственность" %}</h4>
                      <p>{% trans 'Это наш путь к надежности! Мы несем ответственность за каждый совет и знания, которые передаем.' %} </p>
                  </div>
              </div>
              <div class="d-none d-md-flex col-12 col-md-6 align-items-center">
                  <img src="{% static 'images/LEXX_values3.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans "Эффективность" %}</h4>
                      <p>{% trans 'Мы ценим ваше время и ресурсы, поэтому наш подход всегда направлен на максимизацию результатов.' %}</p>
                  </div>
              </div>
              <div class="d-none d-md-flex col-12 col-md-6 align-items-center">
                  <img src="{% static 'images/LEXX_values4.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans "Человечность" %}</h4>
                      <p>{% trans 'LEXX INTERNATIONAL создает сообщество, где можно делиться, задавать вопросы и расти вместе!' %}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="section-3 d-flex d-md-none">
  <img class="background" src="{% static 'images/backgrounds/marek-piwnicki-bCEKJDoh57w-unsplash.jpg' %}" alt="">
  <div class="container">
      <div class="top">
          <a href="#" class="d-block logo">
              <img src="{% static 'images/lexx_logo.png' %}" alt="">
          </a>
      </div>
      <div class="title">
        {% blocktrans %}
          <h2>Наши ценности - </h2>
          <div class="subtitle">
              <p>это не просто слова.</p>
              <p>Это фундамент, на котором строится наш успех.</p>
          </div>
        {% endblocktrans %}
      </div>
      <div class="content">
          <div class="row">
              <div class="d-none d-md-flex col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values1.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans "Профессионализм" %}</h4>
                      <p>{% trans 'Мы не останавливаемся на достигнутом и всегда ищем пути сделать нашу работу еще более качественной.' %}</p>
                  </div>
              </div>
              <div class="d-none d-md-flex col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values2.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans "Ответственность" %}</h4>
                      <p>{% trans 'Это наш путь к надежности! Мы несем ответственность за каждый совет и знания, которые передаем.' %}</p>
                  </div>
              </div>
              <div class="col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values3.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans "Эффективность" %}</h4>
                      <p>{% trans 'Мы ценим ваше время и ресурсы, поэтому наш подход всегда направлен на максимизацию результатов.' %}</p>
                  </div>
              </div>
              <div class="col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values4.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans "Человечность" %}</h4>
                      <p>{% trans 'LEXX INTERNATIONAL создает сообщество, где можно делиться, задавать вопросы и расти вместе!' %}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="section-4">
  <img class="background" src="{% static 'images/backgrounds/alain-gehri-ehNRo3eWJAk-unsplash.jpg' %}" alt="">
  <div class="container">
      <div class="top">
          <a href="#" class="d-block logo">
              <img src="{% static 'images/lexx_logo.png' %}" alt="">
          </a>
      </div>
      <div class="title">
          <h2>{% trans "Наша миссия" %}</h2>
      </div>
      <div class="content">
          <div class="border-box"></div>
          <div class="border-box2"></div>
          <div class="text first">
              <p>
                  {% trans 'Мы развиваем потенциал наших стран. Даем шанс лучшим реализовать амбиции и заботимся о тех, кто в этом нуждается.' %}
              </p>
          </div>
          <div class="text second">
              <p>
                  {% trans "Мы обеспечиваем благополучие близких и улучшаем качество их жизни." %}
              </p>
          </div>
          <div class="text third">
              <p>
                  {% trans 'Мы профессионально торгуем на фондовых рынках и инвестируем, постоянно развиваясь и предоставляя возможности.' %}
              </p>
          </div>
      </div>
  </div>
</section>
<section class="section-5">
  <div class="container">
      <div class="top">
          <a href="#" class="d-block logo">
              <img src="{% static 'images/lexx_logo.png' %}" alt="">
          </a>
      </div>
      <div class="title">
          <h2>{% trans "ПРЕИМУЩЕСТВА НАШЕГО ОБУЧЕНИЯ" %}</h2>
      </div>
      <div class="content">
          <div class="row">
              <div class="col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values1.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans 'Профессионализм' %}</h4>
                      <p>{% trans "Мы не останавливаемся на достигнутом и всегда ищем пути сделать нашу работу еще более качественной." %}</p>
                  </div>
              </div>
              <div class="col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values2.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans 'Ответственность' %}</h4>
                      <p>{% trans "Это наш путь к надежности! Мы несем ответственность за каждый совет и знания, которые передаем." %}</p>
                  </div>
              </div>
              <div class="col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values2.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans 'Ответственность' %}</h4>
                      <p>{% trans "Это наш путь к надежности! Мы несем ответственность за каждый совет и знания, которые передаем." %}</p>
                  </div>
              </div>
              <div class="col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values2.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans 'Ответственность' %}</h4>
                      <p>{% trans "Это наш путь к надежности! Мы несем ответственность за каждый совет и знания, которые передаем." %}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="section-5">
  <div class="container">
      <div class="top">
          <a href="#" class="d-block logo">
              <img src="{% static 'images/lexx_logo.png' %}" alt="">
          </a>
      </div>
      <div class="title">
          <h2>{% trans 'ПРЕИМУЩЕСТВА НАШЕГО ОБУЧЕНИЯ' %}</h2>
      </div>
      <div class="content">
          <div class="row">
              <div class="col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values1.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans 'Ответственность' %}</h4>
                      <p>{% trans "Это наш путь к надежности! Мы несем ответственность за каждый совет и знания, которые передаем." %}</p>
                  </div>
              </div>
              <div class="col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values2.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans 'Ответственность' %}</h4>
                      <p>{% trans "Это наш путь к надежности! Мы несем ответственность за каждый совет и знания, которые передаем." %}</p>
                  </div>
              </div>
              <div class="col-12 col-md-6 d-flex align-items-center">
                  <img src="{% static 'images/LEXX_values2.png' %}" alt="">
                  <div class="box">
                      <h4 class="">{% trans 'Ответственность' %}</h4>
                      <p>{% trans "Это наш путь к надежности! Мы несем ответственность за каждый совет и знания, которые передаем." %}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="section-6">
  <img class="background" src="{% static 'images/backgrounds/luca-bravo-i_0do3VRdxs-unsplash.jpg' %}" alt="">
  <div class="container">
      <div class="top">
          <a href="#" class="d-block logo">
              <img src="{% static 'images/lexx_logo.png' %}" alt="">
          </a>
      </div>
      <div class="title">
          <h2>{% trans "Последние новости" %}</h2>
      </div>
      <div class="content">
        {% for post in posts %}
            <a class="card-box" href="{% url 'web:post' post.pk %}">
                <img src="{{ post.image.image.url }}" alt="">
                <h5 class="card-title">{{ post.title }}</h5>
            </a>
        {% endfor %}
      </div>
  </div>
</section>
<section class="section-7">
  <div class="wrapper d-flex">
      <div class="left">
          <div class="content">
              <div class="logo">
                  <img src="{% static 'images/lexx_logo.png' %}" alt="">
              </div>
              <div class="title">
                  <h2>{% trans "Что вы получите?" %}</h2>
              </div>
              <h4>- {% trans 'Постоянное сопровождение куратором и ментором'%}:</h4>
              <p>{% trans "Обучение с постоянной поддержкой куратора и ментора, что помогает студентам адаптироваться и успешно применить знания на практике." %}</p>

              <h4>- {% trans 'Интерактивные и практические занятия' %}:</h4>
              <p>{% trans "Упор на практические занятия и интерактивные методики обучения, что позволяет сразу применять теоретические знания на практике." %}</p>

              <h4>- {% trans 'Современные технологии и инструменты' %}:</h4>
              <p>{% trans "Использование новейших технологий и торговых инструментов, что обеспечивает актуальность и эффективность обучения." %}</p>

              <h4>- {% trans 'Семинары и вебинары с ведущими экспертами' %}:</h4>
              <p>{% trans "Регулярные семинары и вебинары с участием ведущих экспертов и практиков рынка ценных бумаг." %}</p>
          </div>
      </div>
      <div class="right d-none d-lg-block">
          <img class="background" src="{% static 'images/backgrounds/yang-wewe-JjrP8j-v_Jg-unsplash.jpg' %}" alt="">
      </div>
  </div>
</section>
<section class="section-8" id="section-8">
  <img class="background" src="{% static 'images/backgrounds/max-kukurudziak-00A8_-MuBeo-unsplash.jpg' %}" alt="">
  <div class="container">
      <div class="top">
          <a href="#" class="d-block logo">
              <img src="{% static 'images/lexx_logo.png' %}" alt="">
          </a>
      </div>
      <div class="title">
          <h2>{% trans 'Стать частью компании' %}</h2>
      </div>
      <div class="content">
          <div class="wrapper">
              <div class="text">
                  <p>{% trans "LEXX International — это динамично развивающееся сообщество профессионалов, которое постоянно растет и расширяется." %}</p>
                  <p>{% trans 'Мы приглашаем вас стать частью нашей команды и вместе достигать новых высот в мире трейдинга.' %}</p>
              </div>
              <div class="form">
                  <form action="{% url 'web:application_form' %}" method="post">
                    {% csrf_token %}
                      <h3>{% trans "Оставить заявку" %}</h3>
                      <div class="mb-3 input">
                          <input type="text" class="form-control" id="name" name="name" placeholder="{% trans 'Имя' %}">
                      </div>
                      <div class="mb-3 input">
                          <input type="text" class="form-control" id="phone" name="phone" placeholder="{% trans 'Телефон' %}">
                      </div>
                      <input type="submit" value="{% trans 'Отправить' %}">
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock main_content %}
