{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<section class="section-5 news-detail">
  <div class="container">
      <div class="top">
          <a href="{% url 'web:home' %}" class="d-block logo">
              <img src="{% static 'images/lexx_logo.png' %}" alt="">
          </a>
      </div>
      <div class="title">
          <h2>{{ post.title }}</h2>
      </div>
      <div class="content">
          <img class="img-fluid rounded" src="{{ post.image.image.url }}" alt="{{ post.title }}">
          <p>{{ post.content }}</p>
      </div>
  </div>
</section>
{% endblock main_content %}