:root {
    --strong_black: #000;
    --basic_white: #fff;
    --sapphire_blue: #1D4E84;
    --light_gray: #D5D5D4;
    --light_blue: #8DACC9;
    --young_orange: #E2823B;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto', sans-serif;
}

body{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

section {
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

section img.background {
    width: 100%;
    object-fit: cover;
}

section .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

section .logo {
    max-width: 350px;
    width: 100%;
}

@media screen and (max-width: 992px) {
    section .logo {
        max-width: 230px;
        width: 100%;
    }

    section img.background {
        width: 180%;
    }
    
}

@media screen and (max-width: 576px) {
    section .logo {
        max-width: 150px;
        width: 100%;
    }

    section img.background {
        width: 300%;
    }
    
}


/* ########################### Section 1 ########################### */
.section-1 .logo img {
    width: 100%;
    height: auto;
}

.section-1 .right {
    display: flex;
    align-items: center;
}

.section-1 .application-button {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.section-1 .application-button a {
    background-color: var(--young_orange);
    color: var(--basic_white);
    padding: 10px 70px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0!important;
    font-weight: 700;
    border-color: var(--young_orange);
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.section-1 .application-button a:hover {
    background-color: #c75f0f;
    border-color: #c75f0f;
}

.section-1 .language {
    margin: 5px;
}

.section-1 .language button {
    background-color: var(--young_orange);
    color: var(--basic_white);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0!important;
    font-weight: 700;
    border-color: var(--young_orange);
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.section-1 .language button:hover {
    background-color: #c75f0f;
    border-color: #c75f0f;
}

.section-1 .language button:focus {
    outline: none;
}

.section-1 .title {
    text-align: right;
    color: var(--basic_white);
    margin-top: 40px;
    width: 100%;
}

.section-1 h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 4px;
}

.section-1 p {
    word-spacing: 3px;
    letter-spacing: 4px;
    font-size: 18px;
}

@media screen and (max-width: 992px) {
    .section-1 .title {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 576px) {
    .section-1 .top {
        padding: 0 10px;
    }

    .section-1 .language button {
        font-size: 14px;
        padding: 5px 10px;
    }

    .section-1 h1{
        font-size: 32px;
    }

    .section-1 p{
        font-size: 16px;
    }

    .section-1 .application-button a {
        font-size: 16px;
        padding: 7px 23px;
    }

    .section-1 .title {
        margin-top: 60px;
        margin-bottom: 130px;
    }
    
}


/* ########################### Section 2 ########################### */
.section-2 .wrapper {
    height: 100%;
}

.section-2 .logo {
    margin-bottom: 70px;
}

.section-2 .logo img {
    width: 100%;
    height: auto;
}

.section-2 .left {
    height: 100%;
    width: 50%;
    background-color: var(--sapphire_blue);
    color: var(--basic_white);
}

.section-2 .right {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    color: var(--basic_white);
    overflow: hidden;
    z-index: 1;
}

.section-2 .right img.background {
    width: 220%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.section-2 .left p{
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 2px;
    max-width: 80%;
    margin-bottom: 50px;
    line-height: 32px;
}

.section-2 .left .content {
    height: 100%;
    padding: 40px;
    display: flex;
    align-items: start;
    flex-direction: column;
    z-index: 3;
}

.section-2 .right .content {
    height: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.section-2 .right p {
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 2px;
    max-width: 80%;
    margin-bottom: 50px;
    line-height: 32px;
}

.section-2 .right .application-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2 .right .application-button a {
    background-color: var(--young_orange);
    color: var(--basic_white);
    padding: 10px 70px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0!important;
    font-weight: 700;
    border-color: var(--young_orange);
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.section-2 .right .application-button a:hover {
    background-color: #c75f0f;
    border-color: #c75f0f;
}

@media screen and (max-width: 992px) {
    .section-2 .right img.background {
        width: 250%;
    }

    .section-2 .logo{
        margin-bottom: 30px;
    }

    .section-2 .content {
        padding: 20px;
    }

    .section-2 .left p{
        font-size: 18px;
        max-width: 90%;
        margin-bottom: 30px;
        line-height: 25px;
    }

    .section-2 .right p{
        font-size: 18px;
        max-width: 90%;
        margin-bottom: 30px;
        line-height: 25px;
    }

    .section-2 .right .application-button a {
        padding: 10px 45px;
    }
}

@media screen and (max-width: 768px) {
    .section-2 .right img.background {
        width: 310%;
    }

    .section-2 .content {
        height: 100%;
        padding: 10px;
    }

    .section-2 .left .content {
        justify-content: space-between;
    }

    .section-2 .logo{
        margin-bottom: 20px;
    }

    .section-2 .left p{
        font-size: 16px;
        width: 100%;
        margin-bottom: 30px;
        line-height: 20px;
    }

    .section-2 .right p{
        font-size: 16px;
        width: 100%;
        margin-bottom: 50px;
        line-height: 20px;
    }

    .section-2 .right .application-button a {
        padding: 10px 25px;
    }
}

@media screen and (max-width: 576px) {
    .section-2 {
        height: 200vh;
    }

    .section-2 .left {
        width: 100%;
        height: 100vh;
    }

    .section-2 .right {
        width: 100%;
        height: 100vh;
    }

    .section-2 .left .content {
        padding: 20px;
    }

    .section-2 .right .content {
        align-items: start;
        padding: 20px;
    }

    .section-2 .left p {
        line-height: 26px;
    }

    .section-2 .right .logo {
        margin-bottom: 50px;
    }

    .section-2 .right p {
        line-height: 26px;
        max-width: 80%;
    }

    .section-2 .right img.background {
        width: 200%;
    }
}

@media screen and (max-width: 425px) {
    .section-2 .right img.background {
        width: 265%;
    }
}


/* ########################### Section 3 ########################### */

.section-3 img.background {
    width: 120%;
}

.section-3 .logo img {
    width: 100%;
    height: auto;
}

.section-3 .title {
    margin-top: -80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    color: var(--basic_white);
}

.section-3 .title h2 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 4px;
}

.section-3 .title p {
    margin: 0;
    font-size: 18px;
}

.section-3 .subtitle {
    margin-top: -30px;
}

.section-3 .content {
    padding: 30px 0;
    width: 100%;
}

.section-3 .content img {
    width: 100%;
    height: auto;
    max-width: 70px;
    margin-right: 15px;
}

.section-3 .box {
    color: var(--basic_white);
    margin: 20px 0;
}

.section-3 .box h4 {
    font-size: 18px;
    font-weight: 700;
}

.section-3 .box p {
    font-size: 16px;
}

@media screen and (max-width: 1400px) {
    .section-3 .title {
        margin-top: -20px;
    }

    .section-3 .subtitle {
        margin-top: -10px;
    }
}

@media screen and (max-width: 992px) {
    .section-3 .container {
        max-width: 100%;
    }

    .section-3 img.background {
        width: 170%;
    }

    .section-3 .title {
        margin-top: 0;
    }

    .section-3 .subtitle {
        width: 60%;
    }
    
    .section-3 .title h2 {
        text-align: left;
        font-size: 28px;
    }

    .section-3 .title p {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 768px) {
    .section-3 img.background {
        width: 215%;
    }
}

@media screen and (max-width: 576px) {
    .section-3 img.background {
        width: 250%;
    }

    .section-3 .title {
        margin-bottom: 0;
    }

    .section-3 .subtitle {
        width: 80%;
    }

    .section-3 .title h2 {
        text-align: left;
        font-size: 24px;
    }

    .section-3 .title p {
        font-size: 14px;
    }
}

@media screen and (max-width: 470px) {
    .section-3 img.background {
        width: 320%;
    }
}


/* ########################### Section 4 ########################### */
.section-4 img.background {
    width: 120%;
}

.section-4 .logo img {
    width: 100%;
    height: auto;
}

.section-4 .title {
    margin-top: -80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    color: var(--basic_white);
    margin-bottom: 80px;
}

.section-4 .title h2 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 4px;
}

.section-4 .content {
    padding: 30px 0;
    width: 100%;
    position: relative;
}

.section-4 .border-box {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 20%;
    top: 3%;
    border-top: 1px solid white;
    border-radius: 50%;
    transform: rotate(-13deg);
}

.section-4 .border-box2 {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 30%;
    bottom: 3%;
    border-bottom: 1px solid white;
    border-radius: 50%;
    transform: rotate(-13deg);
}

.section-4 .text {
    font-size: 18px;
    width: 100%;
    display: flex;
    margin: 12px 0;
    color: var(--basic_white);
}

.section-4 .text p {
    max-width: 30%;
}

.section-4 .text.first {
    text-align: right;
    justify-content: end;
}

.section-4 .text.second {
    text-align: center;
    justify-content: center;
}

.section-4 .text.third {
    text-align: left;
    justify-content: start;
}

@media screen and (max-width: 1400px) {
    .section-4 .title {
        margin-top: -20px;
        margin-bottom: 0;
    }

    .section-4 .text {
        font-size: 16px;
        margin: 5px 0;
    }

    .section-4 .text p {
        max-width: 40%;
    }

    .section-4 .border-box {
        top: 6%;
    }
}

@media screen and (max-width: 992px) {
    .section-4 .container {
        max-width: 100%;
    }

    .section-4 img.background {
        width: 170%;
    }

    .section-4 .title {
        margin-top: 0;
    }
    
    .section-4 .title h2 {
        text-align: left;
        font-size: 28px;
    }

    .section-4 .border-box {
        width: 45%;
        height: 35%;
    }

    .section-4 .border-box2 {
        width: 45%;
        height: 35%;
    }
    
}

@media screen and (max-width: 768px) {
    .section-4 img.background {
        width: 215%;
    }

    .section-4 .text p {
        max-width: 60%;
        margin: 10px 0;
    }

    .section-4 .border-box {
        width: 45%;
        height: 16%;
        left: 5%;
        top: 8%;
    }

    .section-4 .border-box2 {
        width: 45%;
        height: 16%;
        left: 45%;
        bottom: 8%;
    }
}

@media screen and (max-width: 576px) {
    .section-4 img.background {
        width: 250%;
    }

    .section-4 .title {
        margin-bottom: 0;
    }

    .section-4 .title h2 {
        text-align: left;
        font-size: 24px;
    }

    .section-4 .text {
        font-size: 15px;
    }

    .section-4 .text p {
        max-width: 70%;
    }

    .section-4 .border-box {
        width: 45%;
        height: 16%;
        left: 2%;
        top: 11%;
        transform: rotate(-45deg);
        border-radius: 35%;
    }

    .section-4 .border-box2 {
        width: 45%;
        height: 16%;
        left: 50%;
        bottom: 15%;
        transform: rotate(-45deg);
        border-radius: 35%;
    }
}

@media screen and (max-width: 470px) {
    .section-4 img.background {
        width: 320%;
    }
}


/* ########################### Section 5 ########################### */


.section-5 {
    background-color: var(--sapphire_blue);
    color: var(--basic_white);
    height: auto;
    overflow: visible;
}

.section-5 .container {
    position: relative !important;
}

.section-5 .logo img {
    width: 100%;
    height: auto;
}

.section-5 .title {
    margin-top: -20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    color: var(--basic_white);
}

.section-5 .title h2 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 4px;
}

.section-5 .content {
    padding: 30px 0;
    width: 100%;
}

.section-5 .content img {
    width: 100%;
    height: auto;
    max-width: 70px;
    margin-right: 15px;
}

.section-5 .box {
    color: var(--basic_white);
    margin: 20px 0;
}

.section-5 .box h4 {
    font-size: 18px;
    font-weight: 700;
}

.section-5 .box p {
    font-size: 16px;
}

@media screen and (max-width: 1400px) {
    .section-5 .title {
        margin-top: -20px;
    }
}

@media screen and (max-width: 992px) {
    .section-5 .container {
        max-width: 100%;
    }

    .section-5 .title {
        margin-top: 0;
    }
    
    .section-5 .title h2 {
        text-align: left;
        font-size: 28px;
    }
    
}

@media screen and (max-width: 576px) {
    .section-5 .title {
        margin-bottom: 0;
    }

    .section-5 .title h2 {
        text-align: left;
        font-size: 24px;
    }
}



/* ########################### Section 6 ########################### */

.section-6 img.background {
    width: 120%;
}

.section-6 .logo img {
    width: 100%;
    height: auto;
}

.section-6 .title {
    margin-top: -80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    color: var(--basic_white);
}

.section-6 .title h2 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 4px;
}

.section-6 .content {
    padding: 15px 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.section-6 .card-box {
    position: relative;
    max-height: 250px;
    height: 100%;
    overflow: hidden;
    width: 30%;
    display: block;
}

.section-6 .card-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-6 .card-box .card-title {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    top: 45%;
    font-size: 22px;
    color: var(--basic_white);
}

@media screen and (max-width: 1400px) {
    .section-6 .title {
        margin-top: -20px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 992px) {
    .section-6 .container {
        max-width: 100%;
    }

    .section-6 img.background {
        width: 170%;
    }

    .section-6 .title {
        margin-top: 0;
    }
    
    .section-6 .title h2 {
        text-align: left;
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .section-6 img.background {
        display: none;
    }

    .section-6 {
        height: auto;
        background-color: #bd8e67;
    }

    .section-6 .content {
        flex-direction: column;
        align-items: center;
    }

    .section-6 .container {
        position: relative !important;
    }

    .section-6 .card-box {
        width: 50%;
        margin: 15px 0;
    }
}

@media screen and (max-width: 576px) {
    .section-6 .title {
        margin-bottom: 0;
    }

    .section-6 .title h2 {
        text-align: left;
        font-size: 24px;
    }

    .section-6 .card-box {
        width: 80%;
    }
}


/* ########################### Section 7 ########################### */
.section-7 {
    height: auto;
}

.section-7 .wrapper {
    height: 100%;
}

.section-7 h2 {
    margin-bottom: 70px;
}

.section-7 .logo img {
    width: 100%;
    height: auto;
}

.section-7 .left {
    height: 100%;
    width: 50%;
    background-color: var(--sapphire_blue);
    color: var(--basic_white);
}

.section-7 .right {
    width: 50%;
    overflow: hidden;
}

.section-7 .right img.background {
    height: 100%;
}

.section-7 h2 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 4px;
}

.section-7 .left h4{
    font-size: 18px;
    word-spacing: 3px;
    letter-spacing: 2px;
    line-height: 32px;
    font-weight: bold;
}

.section-7 .left p{
    font-size: 16px;
    word-spacing: 3px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    line-height: 32px;
}

.section-7 .left .content {
    height: 100%;
    padding: 40px;
    display: flex;
    align-items: start;
    flex-direction: column;
    z-index: 3;
}


@media screen and (max-width: 992px) {
    .section-7 .left {
        width: 100%;
    }

    .section-7 .logo{
        margin-bottom: 30px;
    }

    .section-7 .content {
        padding: 20px;
    }

    .section-7 .left p{
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 25px;
    }

}

@media screen and (max-width: 768px) {
    .section-7 .content {
        height: 100%;
        padding: 10px;
    }

    .section-7 .left .content {
        justify-content: space-between;
    }

    .section-7 .logo{
        margin-bottom: 20px;
    }

    .section-7 .left p{
        font-size: 16px;
        width: 100%;
        margin-bottom: 30px;
        line-height: 20px;
    }

}

@media screen and (max-width: 576px) {
    .section-7 .left .content {
        padding: 20px;
    }

    .section-7 h2 {
        margin-bottom: 40px;
    }

    .section-7 .left h4{
        font-size: 16px;
        line-height: 18px;
    }

    .section-7 .left p{
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 18px;
    }
}



/* ########################### Section 8 ########################### */
.section-8 img.background {
    width: 100%;
}

.section-8 .logo img {
    width: 100%;
    height: auto;
}

.section-8 .title {
    margin-top: -80px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    color: var(--basic_white);
}

.section-8 .title h2 {
    width: 100%;
    text-align: right;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 4px;
}

.section-8 .content {
    padding: 30px 0;
    position: relative;
}

.section-8 .text {
    font-size: 18px;
    width: 100%;
    color: var(--basic_white);
    text-align: center;
}

.section-8 .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.section-8 .form form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--young_orange);
}

.section-8 .form h3 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: var(--basic_white);
    margin-bottom: 40px;
}

.section-8 .form .input {
    width: 100%;
}

.section-8 .form .input input {
    width: 100%;
    border: none !important;
    border-radius: 0 !important;
}

.section-8 .form input[type="submit"] {
    color: var(--basic_white);
    border: 1px solid var(--basic_white);
    text-transform: uppercase;
    padding: 7px 20px;
    font-size: 16px;
}

@media screen and (max-width: 1400px) {
    .section-8 .title {
        margin-top: -20px;
        margin-bottom: 0;
    }

    .section-8 .title h2 {
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .section-8 .form form {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .section-8 .container {
        max-width: 100%;
    }

    .section-8 img.background {
        width: 140%;
    }

    .section-8 .title {
        margin-top: 0;
    }
    
    .section-8 .title h2 {
        text-align: left;
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .section-8 img.background {
        width: 180%;
    }
    .section-8 .form form {
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    .section-8 img.background {
        width: 250%;
    }

    .section-8 .title {
        margin-bottom: 0;
    }

    .section-8 .title h2 {
        text-align: left;
        font-size: 24px;
    }

    .section-8 .form form {
        width: 100%;
    }

    .section-8 .title h2 {
        font-size: 20px;
    }

    .section-8 .text {
        font-size: 16px;
    }

    .section-8 .form h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .section-8 .form input[type="submit"] {
        border: 1px solid var(--basic_white);
        padding: 5px 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 470px) {
    .section-8 img.background {
        width: 300%;
    }
}

.section-3 .content, .section-6 .content, .section-8 .content {
    height: 100%;
    display: flex;
    align-items: center;
}