:root {
    --strong_black: #000;
    --basic_white: #fff;
    --sapphire_blue: #1D4E84;
    --light_gray: #D5D5D4;
    --light_blue: #8DACC9;
    --young_orange: #E2823B;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto', sans-serif;
}

body{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--young_orange);
}

h2 {
    color: var(--basic_white);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.section {
    padding: 50px 0;
}

.section-1 {
    /* background-color: var(--sapphire_blue); */
    background: url('../images/backgrounds/luca-bravo-i_0do3VRdxs-unsplash.jpg') no-repeat center center;
    background-size: cover;
    color: var(--light_gray);
    padding: 0!important;
}

.section-1 .transparent{
    background-color: #1d4f847a;
    padding: 120px 0 40px;
}

.section-1 h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--young_orange);
}

.section-1 p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.section-1 .btn {
    background-color: var(--young_orange);
    color: var(--basic_white);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 0!important;
    font-weight: 700;
}

.section-2 {
    background-color: var(--sapphire_blue);
    color: var(--light_gray);
}

.section-3 {
    background-color: var(--light_blue);
    color: var(--basic_white);
}

.section-3 .custom_span {
    color: var(--young_orange);
}

.section-3 .h2_span {
    font-size: 2rem;
    font-weight: 700;
}

.section-3 h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-4 {
    background-color: var(--young_orange);
    color: var(--basic_white);
}

.section-4 h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;

}

.section-5 {
    background-color: var(--light_gray);
    color: var(--sapphire_blue);
}

.section-5 h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-5 h2 .custom_span {
    color: var(--young_orange);
}

.section-6 h2 {
color: var(--basic_white);
text-align: center;
margin-bottom: 2rem;
}

.section-6 p {
font-size: 1.2rem;
margin-bottom: 1rem;
}

.section-6 .benefit {
margin-bottom: 2rem;
}

.section-6 .benefit h4 {
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 0.5rem;
color: var(--basic_white);
}

.section-6 .benefit p {
margin-left: 1rem;
}

.section-6 .icon {
margin-right: 1rem;
color: var(--basic_white);
}

@media (min-width: 768px) {
.section-6 .benefit p {
    margin-left: 2rem;
}
}

.section-6 {
    /* background-color: var(--light_blue); */
    /* color: var(--strong_black); */
    background: url('../images/LEXX_visual29-muted.jpg') no-repeat center center;
    background-size: cover;
    color: var(--basic_white);
    height: 1000px;
}

.section-6 h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;

}

.section-7 {
    background-color: var(--young_orange);
    color: var(--strong_black);
}

.section-8 {
    background-color: var(--basic_white);
    color: var(--strong_black);
}

.section-8 h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-8 h3 .custom_span{
    color: var(--young_orange);
}

.section-9 {
    background-color: var(--light_gray);
    color: var(--sapphire_blue);
}

.section-9 h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-9 p .custom_span {
    color: var(--young_orange);
    font-weight: 700;
    font-size: 18px;
    display: block;
    margin-top: 15px;
}

.box-3 {
    padding-left: 10px;
    border-left: 3px solid #FFF;
}

.box-3 p {
    margin: 0!important;
}

.box-4 {
    border-bottom: 2px solid #FFF;
    padding: 10px 0;
    height: 100%;
}